<html>
  <head>
    <title>CustomrCare</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/search.js' %}"></script>
  </head>
<body>
  <div class="container max-width-800">
    <div class="search-box">
      <h1 class="logo">CustomrCare</h1>
      <div class="row search-space">
	<div class="col-sm-8">
	  <input type="text" class="form-control search-text" id="search-b" placeholder="Search"/>
	  <span id="error-line" style="display:none"></span>
	</div>
	<div class="col-sm-2">
	  <select class="form-control search-text" id="city-search">
	    {% for city in cities %}
	    <option class="form-control">{{city.name}}</option>
	    {% endfor %}
	  </select>
	</div>
	<div class="col-sm-2">
	  <button class="btn form-control search-btn" id="search-btn"><span class="glyphicon glyphicon-search"></span></button>
	</div>
      </div>
    </div>
    <div id="result-template" style="display:none">
	<div class="result">
	  <div class="office-address float-left">
	    <h3 class="organization"></h3>
	    <p class="office">
	      <span class="office-description"></span>  <br>
	      <span class="office-name"></span> <br>
	      <span class="address-line1"></span> <br>
	      <span class="address-line2"></span> <br>
	      <span class="city"></span>, &nbsp;<span class="state"></span>, &nbsp;<span class="zipcode"></span><br>
	      <span class="country"></span><br></p>
	  </div>
	  <div class="office-contact float-right">
	    <div class="office-phone"></div>
	    <div class="office-email"></div>
	  </div>
	</div>
    </div>

   <div class="row" id="result-box">
   </div>
   <div id="result-not-found">

   </div>
   <div id="loading" style="display:none">
     <label id="loader-text"> Searching Offices... </label>
     <img src={% static 'images/loading.gif' %} id="loader">
   </div>
</body>
</html>
